body {
    width: 900px;
    margin: auto;
}

.borda {
    border-bottom: 3px solid lightblue;
    padding-top: 15px;
    width: 85%;
    float: right;
}

h1 {
    text-align: center;
    background-color: lightblue;
    border-radius: 10px;
    padding: 5px;
    font-weight: 500;
    
}
.retrato {
    margin: 0;
    margin-right: 80px;
    margin-top: 5px;
    width: 20%;
    float: left;
}
 .retrato img {
    border: 2px solid transparent;
    border-radius: 50%;
    width: 100%;
}
.dados {
    margin-top: 50px;
    margin-bottom: 75px;
    margin-left: 28%;
    width: 55%;

}
.dados h2 {
    display: inline-block;
    font-weight: 500;
    margin: 5px auto;
    color: rgb(118, 200, 228);
    font-size: 20px;
}
.dados p {
    display: inline-block;
    width: auto;
    margin: 5px auto;
    font-size: 20px;
    text-indent: 10px;
    font-weight: 500;
}
a {
    text-decoration: none;
    color: black;
}

.objetivos h2 {
    font-size: 130%;
}
.objetivos p {
    margin-bottom: 30px;
    text-indent: 0.3em;
    font-weight: 500;
     font-size: 20px;
}

.qualificacoes p {
    font-size: 20px;
    margin: 0px;
    font-weight: 500;
}
.qualificacoes h2 {
    display: inline;
    font-size: 130%;
}
.qualificacoes h3 {
    margin-bottom: 30px;
    text-indent: 0.3em;
    font-weight: 500;
     font-size: 20px;
}

.experiencia h3 {
    text-indent: 0.5em;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.experiencia p {
    padding-left: 10px;
    font-size: 20px;
    margin-bottom: 35px;    
    margin-top: 10px;
    text-indent: 0.5em;
    font-weight: 500;
}

.borda-qualificacoes {
    border-bottom: 3px solid lightblue;
    padding-top: 15px;
    width: 79%;
    float: right;
}

#rodape {
    text-align: center;
    background-color: black;
    font: normal 10pt arial;
    color: white;
    
}
.borda-exp {
    border-bottom: 3px solid lightblue;
    padding-top: 15px;
    width: 64%;
    float: right;
}
.experiencia h2 {
    font-size: 130%;
}